<div class="container-fluid">
        <div class="row custom-slider">

                <div class="col-sm-12 col-md-8 col-lg-7" id="my-slider">
                    <div id="image-preview">
                        <div class="item active" data-thumb="0">
                            <img src="{{currentImage}}">
                            <!--
                            <img src="http://placehold.it/350x250/e8117f/fff&amp;text=Product+Main">
                            -->
                        </div>
                    </div>
                    
                    <div class="clearfix slide">
                
                        <div id="thumbcarousel" class="carousel" data-interval="false">
                
                            <div class="carousel-inner">
                                <button class="arrow-button arrow-left" (click)="slideLeft()">&#10094;</button>
                
                                <button class="arrow-button arrow-right" (click)="slideRight()">&#10095;</button>
                
                                <div class="item">
                                    <div class="col-md-10" id="image-slider">
                                        <div data-target="#carousel" data-slide-to="0" class="thumb slide-in">
                                            <img src="{{this.imageUrls[0]}}" >
                                            <!--
                                            <img src="http://placehold.it/100/e8117f/fff&amp;text=Product+Main">
                                            -->
                                        </div>
                                        <div data-target="#carousel" data-slide-to="1" class="thumb slide-in">
                                            <img src="{{this.imageUrls[1]}}">
                                            <!--
                                            <img src="http://placehold.it/100/00ffff/000&amp;text=Product+Image+2">
                                            -->
                                        </div>
                                        <div data-target="#carousel" data-slide-to="2" class="thumb slide-in">
                                            <img src="{{this.imageUrls[2]}}">
                                            <!--
                                            <img src="http://placehold.it/100/ff00ff/fff&amp;text=Product+Image+3">
                                            -->
                                        </div>
                                        <div data-target="#carousel" data-slide-to="2" class="thumb slide-in">
                                            <img src="{{this.imageUrls[3]}}">
                                            <!--
                                            <img src="http://placehold.it/100/ff00ff/fff&amp;text=Product+Image+3">
                                            -->
                                        </div>
                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            
                <div class="col-sm-6 col-lg-3">
                        <h2>Products</h2>
                        <h3>Some product subhead</h3>
                        <p>Product description goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                        <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
                            vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>
                    
                    </div>
            </div>
            
            <!-- /col-sm-6 -->
            
            <!-- /col-sm-6 -->
</div>